.calculator {
  text-align: center;
  padding: 10px;
  max-width: 200px;
  margin: 0 auto;
}
.button {
  width: 40px;
  height: 40px;
  margin: 1px;
}
input{
  margin: 2px;
}
.calculator{
  background-color: rgb(224, 210, 210);
}
.equel{
  height: 40px;
  width: 88px;
}