html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: beige;
}

.container {
  padding: 0 30px;
}

.article-body {
  padding-bottom: 30px;
  text-align: justify;
}

.article-comments {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.block {
  margin: 10px 0 5px;
  display: block;
}

.comment-area {
  display: block;
  resize: none;
  width: 100%;
}

.width100p {
  width: 100%;
}

.comment-segment {
  padding: 20px 10px;
  border-bottom: 1px dotted gray;
}

.comment-segment:last-of-type {
  border: none;
}

.comment-author {
  font-weight: 700;
  margin-bottom: 10px;
}

.comment-date {
  font-size: smaller;
  font-family: monospace;
  margin-bottom: 5px;
}
